.fas, .fa {
    vertical-align: middle;
}

.columns-entity > div{
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .columns-entity > div {
        width: 100%;
    }
}

div.container {
    margin-top: 65px;
}